{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="containers">
        
<!-- Footer Start -->
<div class="row bg-dark-subtle m-0">
    <div class="col-md-4 p-3">
      <h5>Address</h5>
      <hr>
      1st Floor,<br>
      Itvedant Bani Heights <br>
      Mumbai 123456 <br>
      Contact: 3638293746
    </div>     
    <div class="col-md-4 p-3">
      <h5>Quick Links</h5>
      <hr>
      <p><a href="#"><strong>Home</strong></a></p>
      <p><a href="#"><strong>About</strong></a></p>
      <p><a href="#"><strong>Contact</strong></a></p>
    </div>  
    <div class="col-md-4 p-3">
      <h5>Contat Us</h5>
      <hr>
      <h3><a href=""><i class="bi bi-meta"></i></a></h3>
      <h3><a href=""><i class="bi bi-whatsapp"></i></a></h3>
      <h3><a href=""><i class="bi bi-twitter-x"></i></a></h3>
    </div>  
</div>
<!-- Footer End -->
    </div>
</body>
</html>